
*{
    font-family: 'Roboto';
}

body{
    margin: 0;
    /* height: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero,
.images,
.quote,
.sign-up
{
    flex: 1 0 auto;
}






.hero{
    padding: 50px 0px 80px 0px;
    background-color: #1f2937;
}

.page-name{
    margin: 0 0 90px 0;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.img-links ul{
    display: flex;
    gap: 15px;
    margin: 0 0 90px 0;
    padding: 0;
    flex-shrink: 0;
}

.main-text{
    max-width: 35%;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.main-text .t{
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
    margin: 0px;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}


.main{
    display: flex;    
    justify-content: center;
    flex-shrink: 0;

    /* background-color: #1f2937; */
}

.main-text button{
    background-color: #3882f6;
    color: #f9faf8;
    align-self: flex-start;
    border-radius: 8px;
    font-size: 20px;
    border: 0;
    padding: 10px 40px;
    

}


li {
    list-style: none;
}




a{
    color: #e5e7eb;
    text-decoration: none;

}

.img-links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fake-image{
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 500px;
    height: 200px;
    background-color: rgb(129, 141, 144);
    color: white;
    /* flex: 1 1 100%; */

}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}


.image-wrapper{
    max-width: 150px;
    flex: 1 1 100%;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext{
    color: rgb(86, 83, 83);
}

.images{
    margin-bottom: 50px;
}

.image{
    height: 150px;
    width: 100%;
    border: 4px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 12px;
}

.images p{
    font-size: 36px; 
    font-weight: 1000;
    color: #1f2937;
}

.quote{
    height: 400px;    
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;    
    align-items: center;
}

.quote-elem{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 820px;
}


.quote-text{
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.quote-author{
    /* align-self: flex-end; */
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
}


.sign-up{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-card{
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    border-radius: 8px;
    
}

.card-text{
    margin-right: 50px;
    border-top: 50px;
    color: white;
}

.sign-up-card button{
    background-color: #3882f6;
    color: white;
    padding: 8px 30px;
    border-color:white;
    border-radius: 8px;
    border: 2px solid;

}

.card-text div strong{
    font-size: 18px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937 ;
    color: white;
    padding: 30px 50px;
    margin-top:auto;

}


